{% load static %}
<!DOCTYPE html>

<head>
  <div class="top_container">
    <!-- <div class="left_top">
        <a href="/">
            <img src="https://drive.google.com/uc?export=download&id=11xsw9jgtCNGijJXphJ_Qn_7b334qXx4q" alt="project_logo" class="logo">
        </a>
    </div>  -->
  
    <!-- <div class="right_top">
        <div class="project_desc">
            <h1><strong>ASCAN</strong></h1>
        </div> -->
  
        <div class="project_com" style="margin-top: 20px;">
          <a href=".././evaluator/"><h2><strong>Evaluator</strong></h2></a>
        </div>
    </div>
  
    <nav class="responsive-nav">
      <a href=".././"><img src="https://i.postimg.cc/26WxnGqN/basic-logo4.png" class="navbar-logo" alt=""></a>
      
      <ul class="navbar-links navbar-collapse">
        <!-- <li class="bar-link"><a href=".././">Home</a></li>
        <li class="bar-link"><a href=".././student/">Student</a></li> -->
        <li class="bar-link"><a href=".././evaluator/logev">logout</a></li>
      </ul>
      
      <div class="burger menu-toggle">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <link rel="stylesheet" type="text/css" href="../../static/EVALUVATOR PAGE/scan.css">  
</head>
<body style="overscroll-behavior: none;">

  {% if messages %}
  
    {% for message in messages %}
    <div style="padding: 10px; background: white;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
 
  {% endif %}
  
    <div class="login-box">
        <h2>Scan QR Code</h2>
        <form action="marks" method="POST"> 
            {% csrf_token %}
          <div class="user-box" >
          <a style="height: 30px; width: 80px; align-items: center;" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input  class="button" type="submit" value=" SCAN ">
          </a>
        </form>

      
        <form action="logev" method="POST">
          {% csrf_token %}
          <div class="user-box" >
            <a style="height: 20px; width: 60px; ">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <input  class="button" type="submit" value="Log-out">
            </a>
      </form>

      


     <br>
     <br>
     <br>
        <h2>Check Attandance</h2>
        <form action="attend" method="POST">
          {% csrf_token %}
          <div class="user-box" >
            <a style="height: 20px; width: 60px; ">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <input  class="button" type="submit" value="Check">
            </a>
      </form>
    </div>

      
</body>