{% load static %}
<!DOCTYPE html>

<head>
  <div class="top_container" style="margin-top: 20px;">
        <div class="project_com">
          <a href=".././evaluator/"><h2><strong>Evaluator</strong></h2></a>
            
        </div>
    </div>
  
    <nav class="responsive-nav">
      <a href=".././"><img src="https://i.postimg.cc/26WxnGqN/basic-logo4.png" class="navbar-logo" alt=""></a>
      
      <ul class="navbar-links navbar-collapse">
        <!-- <li class="bar-link"><a href=".././">Home</a></li>
        <li class="bar-link"><a href=".././student/">Student</a></li> -->
        <li class="bar-link"><a href=".././evaluator/back">Back</a></li>
        <li class="bar-link"><a href=".././evaluator/logev">Logout</a></li>
      </ul>
      
      <div class="burger menu-toggle">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <link rel="stylesheet" type="text/css" href="../../static/EVALUVATOR PAGE/scan.css">  
</head>








<h2>Attendance</h2>

<body style="overscroll-behavior: none;">

  {%for i in atten %}
  {% if i.astatus %}
  <h5>{{i.fullname}} - Present</h5>
  {% else %}
  <h5>{{i.fullname}} - Absent</h5>
  {% endif %}
  {% endfor %}

 
      
</body>